<div class="container text-center my-5">
  <div class="row">
    <div class="col">
      <section id="main">
        <h1> Secrets </h1>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="!sessionService.user">
        <a [routerLink]="['/login']" class="p-3 mb-2 bg-primary text-white">Login</a>
        <a [routerLink]="['/signup']" class="p-3 mb-2 bg-primary text-white">Signup</a>
      </div>
      <div *ngIf="sessionService.user">
        <button (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

