<form (ngSubmit)="submitForm(myForm)"  #myForm="ngForm">

  <p> Username
    <input type="email" #myUsername="ngModel" name="username" [(ngModel)]="username" required minlength="1" />
  </p>
  <div *ngIf="myUsername?.errors && (myUsername?.touched)">
    <p class="error" [hidden]="!myUsername.errors.minlength">
      Username must be at least 1 characters long.
    </p>
    <p class="error" [hidden]="!myUsername?.errors.required">
      Username is required
    </p>
  </div>
  <p> Name
    <input type="text" name="name" [(ngModel)]="name" required />
  </p>
  <p> Password
    <input type="password" name="password" [(ngModel)]="password" required />
  </p>
  <p> Secret
    <input type="text" #mySecret="ngModel" name="secret" [(ngModel)]="secret" required minlength="1" />
  </p>
  <div *ngIf="mySecret?.errors && (mySecret.touched)">
    <p class="error" [hidden]="!mySecret.errors.minlength">
      Secret must be at least 1 characters long.
    </p>
    <p class="error" [hidden]="!mySecret?.errors.required">
      Secret is required
    </p>
  </div>
  <button type="submit"> signup </button>
</form>